:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; 
  line-height: 1.5;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh; 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff; 
  text-decoration: none; 
  padding: 5px 10px; 
  transition: color 0.25s;
}

a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}

button:hover {
  border-color: #646cff; 
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  margin-top: 20px;
}

.navbar {
  display: flex;
  gap: 20px;
  padding: 20px 0;
}